h1 {
  margin-top: 10px;
  color: #142d4c;
  font-size: 40px;
}

h2 {
  color: #142d4c;
  opacity: 0.8;
  font-size: 15px;
}

h3 {
  color: #142d4c;
  font-size: 15px;
}

h4 {
  font-size: 90px;
  color: #ffffff;
  text-align: center;
}

h5 {
  margin-top: -10px;
  font-size: 15px;
  color: #ffffff;
  opacity: 0.8;
  text-align: center;
}

ul {
  margin: 18px 0;
  padding: 0;
}

.form-inline {
  width: auto;
  margin-right: 5px;
}

.btn-primary {
  background-color: transparent;
  border: none;
}

.btn-primary:hover {
  background-color: #142d4c;
}

.btn-secondary {
  background-color: transparent;
  border: none;
}

.btn-secondary:hover {
  background-color: #142d4c;
}

.active {
  color: #142d4c;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: #142d4c;
}

.credit {
  color: #385170;
}

.credit:hover {
  color: #142d4c;
}

.weather-forecast {
  text-align: center;
  margin-top: 12px;
  font-size: 15px;
}

.weather-forecast-date {
  font-size: 15px;
  color: #142d4c;
}

.weather-forecast-temperatures {
  color: #ffffff;
  font-size: 13px;
}

.weather-forecast-temperature-min {
  color: #ffffff;
  opacity: 0.8;
}

#main-body {
  background-color: powderblue;
  background-image: "url('../weather-app-gg/images/morning.jpg')";
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 10px #d8d5d5;
  border-radius: 15px;
  min-height: 480px;
}

#wrapper {
  max-width: 540px;
  max-height: 1000px;
  font-family: "Quicksand", sans-serif;
}

#location-btn-img {
  width: 12px;
}

#mainIcon {
  width: 80px;
  display: block;
  margin: 0 auto;
  margin-top: -10px;
}

#units-style,
#humidity-style,
#feels-like-style,
#wind-style {
  list-style: none;
  color: #142d4c;
}

#humidity,
#feelsLike,
#wind {
  color: #142d4c;
  opacity: 0.8;
}
